body {
    min-height: 100vh;
    background-image: url('img/background.svg');
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
}


.main-container{
    margin: 0 auto;
    width: 80%;
    max-width: 1400px;
}
.main-header{
    position: relative;
    height: 150px;
}

.main-nav{
display: flex;
justify-content: space-between;
}

.nav-item {
    color:rgba(255, 255, 255 ,70);
    padding:10px 15px ;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;

}

.nav-item:hover{
    color:  #EBB61E;
}

.logo {
  width: 15%;
  position: absolute;
  bottom: 0;
  left: 49%;
  margin-right: -50%;
  transform: translateX(-50%);
    
}

.text {
    color: #EBB61E;
    margin-left: 10px;
}

.top {
    color: gray;
    margin-left: 10px;
}

.top-news-block {
    display: flex;
    height: 300px;
}

.section-video {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 -20px;
    
}

.video-item {
    margin: 20px;
    flex-grow: 1;
    height: 200px;
    border: 2px solid gray;
    border-radius: 20px;
}

.section-header {
    color: gray;
    display: flex;
    align-items: center;
}

.section-counter {
    border: 1px solid gray;
    margin-left: 10px;
    border-radius: 20px;
    padding: 2px 15px ;
}

.top-news-video {
    border: 2px solid gray; 
    width: 80%;
    border-radius: 20px;
}
